@font-face {
  font-family: "IndieFlower-Regular";
  src: url("../../assets/fonts/IndieFlower-Regular.ttf");
}

#wrapper[data-theme="default"] {
  #root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #score {
    font-family: "IndieFlower-Regular";
    font-size: 24px;
    color: #5C5C5A;
  }

  .game-field-default {
    box-shadow: 0px 0px 50px #CAC4B5;
    border-radius: 20px;
  }
}