@font-face {
  font-family: "IndieFlower-Regular";
  src: url("../assets/fonts/IndieFlower-Regular.ttf");
}

#root {
  margin: 100px;
  font-size: 50px;
  font-family: "IndieFlower-Regular", sans-serif;
}