html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3EDE9;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score {
    position: absolute;
    max-width: 600px; 
    width: 100%;
    left: calc(50% - 300px);
    padding-top: 40px;
}

.menu-wrapper {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-wrapper[data-view="false"] {
    top: -100vh;
}

.menu-wrapper[data-view="true"] {
    top: 0;
}