html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score {
    position: absolute;
    max-width: 600px; 
    width: 100%;
    left: calc(50% - 300px);
    padding-top: 40px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

@mixin flex($name) {
    .#{$name} {
        display: flex;
        flex-direction: column;
        &_jc {
            &-c {
                justify-content: center;
            }
        }

        &_ai {
            &-c {
                align-items: center;
            }
        }
    }
}

@include flex(column);
@include flex(row);