@mixin direction($direction) {
    .#{$direction} {
        display: flex;
        flex-direction: $direction;

        &__jc-c { 
            justify-content: center;
        }

        &__jc-sb {
            justify-content: space-between;
        }

        &__jc-sa {
            justify-content: space-around;
        }

        &__jc-fs {
            justify-content: flex-start;
        }

        &__jc-fe {
            justify-content: flex-end;
        }

        &__ai-c {
            align-items: center;
        }

        &__ai-fs {
            align-items: flex-start;
        }

        &__ai-fe {
            align-items: flex-end;
        }

        &__fw-w {
            flex-wrap: wrap;
        }
    }
}

@include direction(row);
@include direction(column);

* {
    margin: 0;
    padding: 0;
    font-family: $default-font;
}

a {
    text-decoration: none;
}